*{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: url(/imagens/fundo.jpg);
    background-size:cover;
    background-repeat: no-repeat;

}
header{
    color: aliceblue; 
    background:#1d1f21;
    padding: 5px;
    text-align: center;
    font-weight:bold;
    display: flex;
    justify-content: space-between;
    max-height: 30px;

}
.menu{
    color: white; 
    padding: 5px;
   
}
.menu>a{
    display: none;
    color: aliceblue;
   
}
.menu:hover>a{
    display: block;
    background-color: #1d1f21;
    border-radius: 5px;
    padding: 3px; 
    filter: drop-shadow(2px 2px 1px #000000);
    
}
.menu>a:hover{
    background-color: orangered;
    padding: 5px;
    transition: 0.5s;
    border-radius: 5px;
}

.boxes{
display: grid;
grid-template-columns: repeat(3, 1fr) ;
max-width: 800px;
margin: auto;
grid-gap:20px;
justify-content: center;
}
@media (max-width:975px){
    .boxes{       
        grid-template-columns: repeat(2, 1fr) ;
        }
}

@media (max-width:725px){
    .boxes{       
        grid-template-columns: repeat(1, 1fr) ;
        }
}

/* Estilização de caixas */
.box{
   
    font-weight: bold;
    color: aliceblue;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: 10px auto;
    /* filter: drop-shadow(2px 2px 2px #000000); */
}
.box_janela01{
    height: 300px;
    width: 300px;
    background: url("/imagens/janelas/janelas.jpeg");
    background-position: center center;
    background-size: cover;
}

.box_janela02{
    
    height: 300px;
    width:300px;
    background: url("/imagens/janelas/janelas.jpg");
    background-position: center center;
    background-size: cover;
}


.box > img{
    max-width: 500px;
}

a{
    text-decoration: none;
}

a:hover{
    filter: none;
}
.botao-box{
    color: whitesmoke;
    margin-top:-10px; 
    padding:3px;
    /* filter: drop-shadow(2px 2px 2px #000000); */
 font-weight: bold;
    text-align: center !important;
    border-radius:0px 0px 5px 5px;
    background:#1d1f21;

}


footer{
    color: aliceblue; 
    background:#1d1f21;
    padding: 5px;
    text-align: center;
    font-weight:bold;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    vertical-align: bottom;
}

.link-footer{
    color: aliceblue!important; 
}